.header_container {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.header_container > h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.header_container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}