.home_container {
    height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('https://png.pngtree.com/background/20221028/original/pngtree-abstract-receiving-money-using-a-smartphone-picture-image_1931104.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}