.home_container {
    height: calc(100vh - 78px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
}

.home_container > h2 {
    text-transform: capitalize;
    color: white;
}

.home_container > p {
    max-width: 300px;
    color: white;
}